
.label {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(47, 48, 53, 1);
}

.input {
  position: relative;
  margin-left: 20px;
  min-width: 310px;
  min-height: 30px;
  background: rgba(240, 240, 244, 1);
  border: none;
}

.input::after {
  position: absolute;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url(../../assets/images/icons/search.svg);
  top: 0;
  left: 0;
}