@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/vars.scss';


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 112px;
}