.footer {
    
    background-color: #F0F0F4;
    padding: 43px 0 22px;

    &Container {
        margin: 0 auto;
        max-width: 1170px;
    }

    &Top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}