@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/vars.scss';

.sortingProduct{
    margin: 41px 0 47px 0;
}
.inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.tabsProduct{
    display: flex;
    margin: 30px 0 5px 0;
}
