@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/vars.scss';

.nav {
    max-width: 454px;
    width: 100%;

    &List {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &Link {
        text-decoration: none;
        font-family: 'SFProDisplay-Bold';
        @include font (20px, 700, 24px, $textPrimary);
    }
}