.discounts {
  min-height: 165px;
  &Container {
    max-width: 1170px;
    margin: 0 auto;
  }
  &Wrapper {
    min-height: 165px;
    background-color: #1C62CD;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &Img:nth-child(2) {
    transform: scale(-1, 1);
  }
  &Title {
    max-width: 300px;
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 45px;
  }
  &Btn {
    padding: 5px 40px;
    background: white;
    border: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
  }
}